
/** PageHardware */

.tmpl_container {}


/** Hardware header */

.head_container {}

.descr {}

.list_container {
  float: right;
  border: solid #00000038 1px;
  padding: 1em;
  margin-left: 2em;
  margin-bottom: 2em;
  width: 300px;
  height: fit-content;
}

@media screen and (max-width: 996px) {
  .list_container {
    float: none;
    margin: 0px auto 2em auto;
  }
}

.list {}

.list_item {}
