/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 2rem 12rem 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 2rem 10rem 2rem;
  }
}

.home_collaborate {
  display: flex;
}

.home_collaborate_handsake {
  margin: 0 2em
}

@media screen and (max-width: 996px) {
  .home_collaborate {
    flex-direction: column;
  }

  .home_collaborate_handsake {
    margin: 2em auto;
  }
}

.header_img {
  background-image: url('../../static/img/home/head_img.jpg');
  background-color: #9dd3bf;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_titles {
  color: white;
  text-shadow: 2px 2px 4px #000000, 0px 0px 10px #000000;
}


.header_note {
  rotate: -15deg;
  background: #FFFFFF66;
  /*position: absolute;
  right: 10%;
  bottom: 10%;
  width: 30%;*/
  max-width: 220px;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 100px 0px rgba(230,230,230,1);
  -moz-box-shadow: 10px 10px 100px 0px rgba(230,230,230,1);
  box-shadow: 10px 10px 100px 0px rgba(230,230,230,1);
}
.header_note:hover {
  background: #FFFFFF99;
}
.header_note_img {
  max-width: 200px;
}

.home_section {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  max-width: 80%;
  margin: 0 10%;
}

.home_section_sub_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.intro_text {
  text-align: center;
  font-size: 1.5em;
}

@media screen and (max-width: 996px) {
  .intro_text {
    font-size: 1.5em;
  }
}

.question {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 1.3em;
}

.cards_div_style {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: var(--ifm-leading);
}
