
.tmpl_container {}

.head_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@media screen and (max-width: 996px) {
  .head_container {
    flex-direction: column-reverse;
  }
}

.descr {}

.list_container {
  border: solid #00000038 1px;
  padding: 1em;
  /*padding-left: 2em;*/
  min-width: 300px;
}

@media screen and (max-width: 996px) {
  .list_container {
    margin: 2em;
  }
}

.list {}

.list_item {}