
/** PageSoftware */

.tmpl_container {}


/** SoftwareSpecsProvidedTable */

.specs_table {
    margin: 32px auto;
    display: table;
}


/** SoftwareHeader */

.head_container {}

.descr {}

.lists_container {
  float: right;
  border: solid #00000038 1px;
  padding: 1em;
  margin-left: 2em;
  margin-bottom: 2em;
  width: 300px;
  min-width: 300px;
  height: fit-content;
}

@media screen and (max-width: 996px) {
  .lists_container {
    float: none;
    margin: 0px auto 2em auto;
  }
}

.logo {
  /*max-width: 250px;*/
}

.list {}

.list_item {}